/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Container */
.container{
    max-width: 1170px;
    margin: 0 auto;
}

/* Utility */
.pad-05{
    padding: .5em;
}

.mt-1{
    margin-top: 1em;
}

/* Row */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* Columns */
.col-1{
    flex-basis: calc((100% / 12) * 1);
    height: 50px;
    border: solid 1px white;
    background-color: #006cfa;
    text-align: center;
    color: white;
    line-height: 50px;
    vertical-align: middle;
}

.col-2{
    flex-basis: calc((100% / 12) * 2);
    height: 50px;
    border: solid 1px white;
    background-color: #006cfa;
    text-align: center;
    color: white;
    line-height: 50px;
    vertical-align: middle;
}

.col-3{
    flex-basis: calc((100% / 12) * 3);
    height: 50px;
    border: solid 1px white;
    background-color: #006cfa;
    text-align: center;
    color: white;
    line-height: 50px;
    vertical-align: middle;
}

.col-4{
    flex-basis: calc((100% / 12) * 4);
    height: 50px;
    border: solid 1px white;
    background-color: #006cfa;
    text-align: center;
    color: white;
    line-height: 50px;
    vertical-align: middle;
}

.col-5{
    flex-basis: calc((100% / 12) * 5);
    height: 50px;
    border: solid 1px white;
    background-color: #006cfa;
    text-align: center;
    color: white;
    line-height: 50px;
    vertical-align: middle;
}

.col-6{
    flex-basis: calc((100% / 12) * 6);
    height: 50px;
    border: solid 1px white;
    background-color: #006cfa;
    text-align: center;
    color: white;
    line-height: 50px;
    vertical-align: middle;
}

.col-7{
    flex-basis: calc((100% / 12) * 7);
    height: 50px;
    border: solid 1px white;
    background-color: #006cfa;
    text-align: center;
    color: white;
    line-height: 50px;
    vertical-align: middle;
}

.col-8{
    flex-basis: calc((100% / 12) * 8);
    height: 50px;
    border: solid 1px white;
    background-color: #006cfa;
    text-align: center;
    color: white;
    line-height: 50px;
    vertical-align: middle;
}

.col-9{
    flex-basis: calc((100% / 12) * 9);
    height: 50px;
    border: solid 1px white;
    background-color: #006cfa;
    text-align: center;
    color: white;
    line-height: 50px;
    vertical-align: middle;
}

.col-10{
    flex-basis: calc((100% / 12) * 10);
    height: 50px;
    border: solid 1px white;
    background-color: #006cfa;
    text-align: center;
    color: white;
    line-height: 50px;
    vertical-align: middle;
}

.col-11{
    flex-basis: calc((100% / 12) * 11);
    height: 50px;
    border: solid 1px white;
    background-color: #006cfa;
    text-align: center;
    color: white;
    line-height: 50px;
    vertical-align: middle;
}

.col-12{
    flex-basis: calc((100% / 12) * 12);
    height: 50px;
    border: solid 1px white;
    background-color: #006cfa;
    text-align: center;
    color: white;
    line-height: 50px;
    vertical-align: middle;
}

/* Nested Columns */
.nested-col-1{
    flex-basis: calc((100% / 12) * 1);
    height: 30px;
    border: solid 1px #006cfa;
    background-color: #00e165;
    text-align: center;
    color: white;
    line-height: 30px;
    vertical-align: middle;
}

.nested-col-2{
    flex-basis: calc((100% / 12) * 2);
    height: 30px;
    border: solid 1px #006cfa;
    background-color: #00e165;
    text-align: center;
    color: white;
    line-height: 30px;
    vertical-align: middle;
}

.nested-col-3{
    flex-basis: calc((100% / 12) * 3);
    height: 30px;
    border: solid 1px #006cfa;
    background-color: #00e165;
    text-align: center;
    color: white;
    line-height: 30px;
    vertical-align: middle;
}

.nested-col-4{
    flex-basis: calc((100% / 12) * 4);
    height: 30px;
    border: solid 1px #006cfa;
    background-color: #00e165;
    text-align: center;
    color: white;
    line-height: 30px;
    vertical-align: middle;
}

.nested-col-5{
    flex-basis: calc((100% / 12) * 5);
    height: 30px;
    border: solid 1px #006cfa;
    background-color: #00e165;
    text-align: center;
    color: white;
    line-height: 30px;
    vertical-align: middle;
}

.nested-col-6{
    flex-basis: calc((100% / 12) * 6);
    height: 30px;
    border: solid 1px #006cfa;
    background-color: #00e165;
    text-align: center;
    color: white;
    line-height: 30px;
    vertical-align: middle;
}

.nested-col-7{
    flex-basis: calc((100% / 12) * 7);
    height: 30px;
    border: solid 1px #006cfa;
    background-color: #00e165;
    text-align: center;
    color: white;
    line-height: 30px;
    vertical-align: middle;
}

.nested-col-8{
    flex-basis: calc((100% / 12) * 8);
    height: 30px;
    border: solid 1px #006cfa;
    background-color: #00e165;
    text-align: center;
    color: white;
    line-height: 30px;
    vertical-align: middle;
}

.nested-col-9{
    flex-basis: calc((100% / 12) * 9);
    height: 30px;
    border: solid 1px #006cfa;
    background-color: #00e165;
    text-align: center;
    color: white;
    line-height: 30px;
    vertical-align: middle;
}

.nested-col-10{
    flex-basis: calc((100% / 12) * 10);
    height: 30px;
    border: solid 1px #006cfa;
    background-color: #00e165;
    text-align: center;
    color: white;
    line-height: 30px;
    vertical-align: middle;
}

.nested-col-11{
    flex-basis: calc((100% / 12) * 11);
    height: 30px;
    border: solid 1px #006cfa;
    background-color: #00e165;
    text-align: center;
    color: white;
    line-height: 30px;
    vertical-align: middle;
}

.nested-col-12{
    flex-basis: calc((100% / 12) * 12);
    height: 30px;
    border: solid 1px #006cfa;
    background-color: #00e165;
    text-align: center;
    color: white;
    line-height: 30px;
    vertical-align: middle;
}